APP_ENV=local
APP_KEY=base64:lwwbeL/cfi4zd76RwFZNmw9POEWrbxAo93NxFC0QPVg=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=pgsql
DB_HOST=ec2-54-225-67-3.compute-1.amazonaws.com
DB_PORT=5432
DB_DATABASE=ddjql7unp3hi9r
DB_USERNAME=jvgdskxcyvupgy
DB_PASSWORD=fb2bb8ddbe5713069a1a273c7f80e2db9af06789e486548499fa080929e13019

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=dungthinhvn@gmail.com
MAIL_PASSWORD=S01@wind5
MAIL_ENCRYPTION=tls

PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
