.showcase h3{
  color: red;
  font-size: 32px;
}

.showcase p{
  color: blue;
  font-size: 24px;
}

.panel-body {

    text-align: justify;
}

.events-desc {
  text-align: justify;
}

.events-header{
  margin-bottom: 5px;
}

.section-a .fa {
    border-radius: 5px;
}

.section-a .block-dichvu {
  border-radius: 5px;
}

.navbar {
    border-radius: 0px;
}

.chitiettin img {
    display: block;
    margin: 0 auto;
    width: 80%;
    border-radius: 10px;

}

.chitiettin{
  text-align: justify;
  margin-bottom: 20px;
}

.chitiettin h2{
  text-align: center;
  margin-bottom: 30px;
}

.sua-xoa-item{
  float: right;
  margin-right: 10px;
}


.section-d #owl-demo .item2{
  text-align: center;
}
.section-d #owl-demo .item2 img{
  width: 150px;
  border-radius: 50%;
  margin-bottom: 5px;

}

.section-d #owl-demo .item2 p{
  margin: 5px 0 !important;

}

.section-d #owl-demo .item2 p .name{
  font-weight: bold !important;

}

.btn-link {
    width: 100%;
    text-align: right;
  }
