.navbar{

  margin-bottom:0;

  .navbar-header{
    .banner-brand{
      padding-top: 10px;
    }
  }

  ul{
    li{
      a{
        color: set-text-color($main-color) !important;

        .fa{
          font-size:18px;
        }
      }
    }
  }
}


.showcase{
  background:#e6ebf1;

  img{
    width: 100%;
  }

  h1{
    font-size:60px;
  }

  h3{
    text-transform: uppercase;
  }

  .container{
    background: #fff;
    opacity: 0.8;
    padding: 20px 30px 30px 30px;
  }
}

.title{
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.section-a{
  padding: 20px 0;
  text-align: center;
  background: $main-color;
  color: set-text-color($main-color);

  #owl-demo {
    .item2{
      text-align: center;
      margin: 2%;
      position: relative;
      overflow: hidden;

      img{
        display: block;
        width: 200px;
        height: 150px;
        float: none;
      }

      .content_news{
        position: absolute;
        bottom: 0;
        background: rgba(55, 145, 245, 0.7) none repeat scroll 0 0;
        height: 60px;
        width: 200px;
        -webkit-transition: all 500ms ease 0s;
         -o-transition: all 500ms ease 0s;
         transition: all 500ms ease 0s;
      }

      &:hover {
        .content_news {
            height:60%;
        }

      }

    }
  }

}



.section-b{
  background:#e6ebf1;
  padding: 20px 0;

  img{
    width:100%;
  }
}

.section-c{

  padding: 20px 0;
  text-align: center;
  background: $main-color;
  color: set-text-color($main-color);

  #owl-sanpham {

    .item{

      margin: 0 10px;
      margin-top: 20px;
      background: none;
      position: relative;
      overflow: hidden;

      img{
        display: block;
        width: 100%;
        height: auto;
        float: none;
        max-width: 100%;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;

        &:hover {

          -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          transform: scale(1.1);

        }
      }



    }
  }

}




.section-d{
    background:#e6ebf1;
    padding: 30px 10px;

    h2{
      text-transform: uppercase;
      margin-bottom: 30px;
      text-align: center;
    }

    p{
      font-size: 18px;
      margin-bottom: 15px;
    }

}


.footer_area {
    background: #58cdec none repeat scroll 0 0;
    padding: 20px 0 40px;

    .title-footer {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        color: red;
    }

    .single_address {
        margin-top: 15px;
    }
    .fix {
        overflow: hidden;
    }

    .address_icon {
        float: left;
        margin-right: 15px;
    }

    #googleMap {
        height: 290px;
        width: 100%;
        margin: 15px 0px 0px;
    }

    .contract_us {
        margin-top: 15px;
    }

    .address_icon span {
        border: 1px solid #2abfe7;
        width: 70px;
        height: 70px;
        background: #86dbf1;
        color: white;
        display: block;
        line-height: 70px;
        text-align: center;
        font-size: 30px;
    }

    .address_text p {
        color: white;
        font-size: 16px;
        padding: 12px 0 0;
    }

    .address_text p span {
        color: red;
    }


    .input_change {
        margin-bottom: 8px;
    }
    .inputt {
        position: relative;
    }
    .message_icon {
        border-right: 1px solid #2abfe7;
        color: #fff;
        font-size: 19px;
        height: 46px;
        left: 0;
        line-height: 30px;
        padding: 6px 20px;
        position: absolute;
        top: 0;
        width: 56px;
    }

    #name_mes, #email_mes{
        background: #86dbf1 none repeat scroll 0 0;
        border: 1px solid #2abfe7;
        border-radius: 0;
        color: #fff;
        height: 46px;
        padding-left: 67px;
    }

    #message_mes {
        background: #86dbf1 none repeat scroll 0 0;
        border: 1px solid #2abfe7;
        border-radius: 0;
        color: #fff;
        height: 120px;
        padding-left: 65px;
    }

    .sunmite_button {
        margin-top: 20px;
        button {
            padding: 10px 20px;
            border: 1px solid white ;
            text-transform: uppercase;
            color: white;
            background: transparent;
            font-weight: bold;
            transition: 1s;
            -webkit-transition: 1s;
            -moz-transition: 1s;
            -o-transition: 1s;
            -ms-transition: 1s;
        }
    }
}






.title-bar{
  background: url(../img/showcase.jpg) no-repeat 0 -300px;
  padding-bottom: 10px;
  border-bottom: 4px solid $main-color;
}

.main{
  margin-top:30px;
}

footer{
  padding-top:15px;
  background: darken($main-color, 10%);
  color: set-text-color($main-color);
}

.biendao{
  text-align: center;
  margin-bottom: 20px;
}
